#landing {
    height: calc(100vh - 80px)
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.landing__img--wrapper {
    height: 600px;
    width: 600px;
}

.landing__img {
    width: 100%;
    height: 100%;
}