#landing {
    height: calc(100vh - 80px)
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin-bottom: 8vh;
}

.landing__img--wrapper {
    height: 500px;
    width: 500px;
}

.landing__img {
    width: 100%;
    height: 100%;
    transform: translateX(-160px);
    opacity: 0;
    animation: fade-in-right 1500ms ease forwards;
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-120px);    
    } 
    to {
        opacity: 1;
        transform: translateX(0);
    }
}