#landing {
    height: calc(100vh - 80px);
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin-bottom: 4vh;
}

.landing__img--wrapper {
    position: relative;
    height: 500px;
    width: 500px;
}

.landing__welcome {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 6%;
    z-index: 100;
    font-size: 24px;
    font-weight: 500;
    color: #2A2A2E;
    opacity: 0;
    animation: fade-in 750ms 2750ms ease forwards;
}

.landing__img {
    width: 100%;
    height: 100%;
    transform: translateX(-160px);
    opacity: 0;
    animation: fade-in-right 1500ms 1s ease forwards;
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-120px);    
    } 
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in {
  from  {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
    .landing__img--wrapper {
    height: 384px;
    width: 384px;
}

.landing__welcome{
    font-size: 20px;
    transform: translateY(-24%);
}

.landing__welcome,
.landing__img {
    animation: fade-in 1s 1s ease forwards;
}

.landing__img {
    transform: none;
}

}

@media (max-width: 480px) {
  .landing__img--wrapper {
    height: 280px;
    width: 280px;
  }

  .landing__welcome{
    display: none;
}

#landing{
    height: calc(100vh - 160px);
}
}