#movie {
  height: calc(100vh - 80px);
}

.movie__loading {
  height: calc(100ch - 80px);
  background-color: #f4f4f7;
}

.movie__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.movie__row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.movie__img--wrapper {
  height: 100%;
  width: 35%;
  max-width: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#movie .movie__poster--wrapper:hover {
  cursor: default;
  transform: none;
}

#movie .movie__poster--wrapper {
  display: flex;
  width: 100%;
  transition: transform 300ms ease;
  width: 300px;
}

.movie__poster--img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: #8e8e8e 0 0 4px;
}

.movie__unavailable--movie {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 4px;
  background-color: rgba(42, 42, 46, 0.25);
  box-shadow: #8e8e8e 0 0 4px;
  text-align: center;
  color: #f4f4f2;
  font-weight: 400;
  font-size: 2cqw;
  padding: 40% 16px;
  white-space: nowrap;
  align-items: center;
}

.movie__title--movie {
  font-size: 40px;
  margin-bottom: 20px;
}

.movie__info {
  width: 35%;
  max-width: 440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie__runtime {
  margin-left: 16px;
}

.movie__subtitle {
  display: flex;
  font-size: 18px;
}

.movie__plot {
  margin-top: 24px;
  font-size: 18px;
}

.movie__genre {
  margin-top: 24px;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 32px;
}

.movie__button--back {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 12px;
  background: transparent;
  cursor: pointer;
}

.fa-align-left {
  margin-left: 8px;
}

.bold {
  font-weight: 600;
}

@media (max-width: 1020px) {
    #movie .movie__poster--wrapper {
  width: 240px;
}

.movie__title--movie {
  font-size: 32px;
}

.movie__subtitle {
  font-size: 16px;
}

.movie__plot {
  font-size: 16px;
}

.movie__genre {
  font-size: 16px;
}

}

@media (max-width: 768px) {
    .movie__row{
        flex-direction: column;
        gap: 0;
    }

    #movie{
        height: auto;
    }

    .movie__info{
        align-items: center;
        width: 50%;
        margin-bottom: 48px;
    }

    .movie__subtitle{
        min-width: 248px;
    }

    .movie__plot{
        text-align: center;
        min-width: 240px;
    }

    .movie__genre{
        text-align: center;
    }
}