.movie__list {
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% / 3);
  margin: 48px 0;
}

.movie__poster--wrapper {
  display: flex;
  width: 50%;
  transition: transform 300ms ease;
}

.movie__poster {
  width: 100%;
  border-radius: 4px;
  box-shadow: #8e8e8e 0 0 4px;
  transition: all 300ms ease;
}

.movie__poster--wrapper:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.movie__poster--unavailable {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  box-shadow: #8e8e8e 0 0 4px;
  text-align: center;
  color: #f4f4f2;
  font-weight: 200;
  font-size: 2cqw;
  padding: 45% 16px;
  white-space: nowrap;
  align-items: center;
}

.fa-face-sad-cry {
  margin-top: 16px;
  font-size: 36px;
  color: #f4f4f2;
}

.movie__description {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 16px;
}

.movie__title,
.movie__year,
.movie__rated {
  color: #2A2A2E;
  margin: 4px 0;
}

.movie__title {
  text-align: center;
  font-size: 32px;
}

.movie__details {
  display: flex;
  width: 100%;
  justify-content: center;
}

.movie__year {
  font-size: 20px;
}
