#contact__form {
    display: flex;
    flex-direction: column;
    margin: 32px 24px 16px 24px;
}

label {
    font-weight: 600;
    width: 100%;
}

input,
textarea {
    margin: 12px 0;
    padding: 8px;
    font-size: 16px;
    font-family: inherit;
    width: 100%;
}

textarea {
    height: 100px;
}

.contact__form--submit {
    width: fit-content;
    padding: 8px 16px;
    margin: 8px 0;
    border: none;
    border-radius: 16px;
    background-color: #E6534B;
    color: #F4F4F7;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 768px) {
label {
    font-size: 14px;
}
input,
textarea {
    font-size: 14px;
    padding: 6px;
}

.contact__form--submit {
    font-weight: 400;
    font-size: 14px;
}
}

@media (max-width: 480px) {
label {
    text-align: center;
}
.contact__form--submit {
    font-size: 13px;
}
#contact__form {
    margin: 24px 24px 8px 24px;
    align-items: center;
}
#contact__form input,
#contact__form textarea {
    margin-top: 6px;
    margin-bottom: 12px;
}
}