footer {
  width: 100%;
  height: 120px;
  background-color: #E6534B;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 36px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer__logo--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.footer__logo--img {
  width: 100%;
}

.footer__copyright {
  color: white;
  font-size: 16px;
}

@media (max-width: 480px) {
.footer__copyright {
  color: white;
  font-size: 14px;
}
footer{
  height: 80px;
}
}