* {
  color: #2A2A2E;  
}

.modal {
    position: absolute;
    border: 8px solid #D7B56D;
    border-radius: 28px;
    width: 28%;
    height: fit-content;
    right: 16px;
    top: 96px;
}

.module__container {
    position: relative;
    height: 100%;
    width: 100%;
}

.modal__row {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 24px;
}

.modal__title {
    font-weight: 800;
}

.modal__icon--wrapper {
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.fa-xmark {
    font-size: 20px;
}

.modal__para {
    margin: 0 24px;
    font-size: 18px;
    margin-bottom: 16px;
}

.about__modal--footer {
    display: flex;
    justify-content: flex-start;
    margin: 0 24px 16px 24px;
}

.about__icon--wrapper {
    height: fit-content;
    width: fit-content;   
}

.fa-arrow-left-long {
    font-size: 32px;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin-left: 16px;
}