.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 24px;
}

.modal__title {
    font-weight: 800;
}

.modal__icon--wrapper {
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.fa-xmark {
    font-size: 20px;
}

.modal__para {
    margin: 0 24px;
    font-size: 18px;
    margin-bottom: 16px;
}

@media (max-width: 768px) {
.modal__para {
    font-size: 15px;
}

.modal__title {
    font-size: 16px;
}
}

@media (max-width: 480px) {
.modal__para {
    font-size: 13px;
    text-align: center;
}
.modal__title {
    font-size: 14px;
    text-align: center;
    max-width: 120px;
}
.modal__icon--wrapper {
    position: absolute;
    right: 12px;
    top: 0;
}
.modal__header{
    justify-content: center;
}

.modal__contact .modal__para, 
.modal__contact .modal__title {
    display: none;
}
}