* {
  color: #2A2A2E;  
}

.modal {
    position: absolute;
    border: 8px solid #D7B56D;
    border-radius: 28px;
        height: calc(100vh - 100px);
    max-height: calc(100vh - 140px);
    width: 474px;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.modal__container {
    position: relative;
    height: 100%;
    width: 100%;
}

.modal__row {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.about__modal--footer {
    display: flex;
    justify-content: flex-start;
    margin: 0 24px 16px 24px;
    background: transparent;
    border: none;
    align-items: center;
    cursor: pointer;
}

.about__icon--wrapper {
    height: fit-content;
    width: fit-content;   
}

.fa-arrow-left-long {
    font-size: 32px;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin-left: 16px;
}

@media (max-width: 768px) {
    .modal {
    width: 400px;
}
}

@media (max-width: 480px) {
    .modal {
    width: 280px;
}
.modal__about .fa-arrow-left-long {
    font-size: 24px;
}
h4 {
    font-size: 16px;
}
}

@media (max-width: 480px) {
    .modal{
        top: 50%;
    }
    .modal__contact .modal {
        width: 288px;
    }
}