nav {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #e6534b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 36px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.nav__side--left {
  display: flex;
  align-items: center;
}

.nav__side--right {
  display: flex;
  align-items: center;
}

.logo--wrapper {
  height: 60px;
  width: auto;
}

.logo {
  height: 100%;
  width: auto;
  opacity: 0;
  animation: fade-in 500ms 500ms ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav__links {
  list-style-type: none;
  display: flex;
  opacity: 0;
  animation: fade-in 500ms 500ms ease forwards;
}

.nav__link {
  margin-left: 28px;
  position: relative;
}

.underline {
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  right: 0;
  bottom: -8px;
  transition: all 300ms ease;
}

.nav__link:hover,
.menu__icon--wrapper:hover {
  transform: scale(1.05);
}

.nav__link:hover .nav__link--anchor,
.nav__link:hover .fa-arrow-right-to-bracket {
  color: white;
}

.nav__link:hover .underline {
  width: 100%;
  left: 0;
}

.nav__link:active,
.menu__icon--wrapper:active {
  transform: scale(0.95);
}

.nav__link--anchor {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.home__icon--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-left: 8px;
  margin-top: 2px;
}

.fa-arrow-right-to-bracket {
  color: white;
  margin-top: 2px;
  font-size: 20px;
}

.menu__icon--wrapper {
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.fa-bars {
  color: white;
  font-size: 20px;
  margin-top: 2px;
}

.nav__link--1 {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__link--2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
}

.search--placeholder {
  margin-left: 16px;
}

@media (max-width: 1024px) {
  
  .nav__link--anchor2 {
    margin-right: 8px;
  }

  .search-nav__link--anchor2 .nav__link--anchor2 {
    display: none;
  }
  .home__icon--wrapper {
  margin: 0;
}
}

@media (max-width: 768px) {
  .nav__link--anchor {
    font-size: 18px;
  }

.fa-arrow-right-to-bracket{
  font-size: 16px;
}

.search-home__icon--wrapper .fa-arrow-right-to-bracket{
  font-size: 20px;
}

  .logo--wrapper {
    height: 48px;
  }

  nav {
    padding-right: 24px;
    padding-left: 16px;
  }

  .nav__link {
    margin-left: 24px;
  }

  .search-nav__side--left {
    display: none;
  }

  .movie-nav__link--anchor2 .nav__link--anchor2 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .nav__link--1 {
    display: none;
  }

    .movie-nav__link--anchor2 .nav__link--anchor2 {
    display: none;
  }
  .menu__icon--wrapper{
      display: flex;
  }
}
