nav {
  width: 100%;
  height: 80px;
  background-color: #E6534B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.nav__side--left {
  display: flex;
  align-items: center;
}

.logo--wrapper {
  height: 60px;
  width: auto;
}

.logo {
  height: 100%;
  width: auto;
  opacity: 0;
  animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
  from  {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav__links {
  list-style-type: none;
  display: flex;
  animation: fade-in 1s ease forwards;  
}

.nav__link {
  margin-left: 28px;
  position: relative;
}

.underline {
  position: absolute;
  background-color: #f4f1f1;
  height: 2px;
  width: 0;
  right: 0;
  bottom: -8px;
  transition: all 300ms ease;
}

.nav__link:hover {
  transform: scale(1.05);
}

.nav__link:hover .nav__link--anchor,
.nav__link:hover .fa-arrow-right-to-bracket {
  color: #f4f1f1;
}

.nav__link:hover .underline {
  width: 100%;
  left: 0;
}

.nav__link:active {
  transform: scale(0.95);
}

.nav__link--anchor {
  text-decoration: none;
  color: #F4F4F7;
  font-size: 20px;
  font-weight: 500;
}

.home__icon--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.fa-arrow-right-to-bracket {
  color: #F4F4F7;
  margin-top: 2px;
  font-size: 20px;
}

.nav__link--1 {
  display: flex;
  align-items: center;
  cursor: not-allowed;
}

.nav__link--2 {
  display: none;
  align-items: center;
  cursor: pointer;
}