nav {
  width: 100%;
  height: 80px;
  background-color: #E6534B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.nav__side--left {
  display: flex;
  align-items: center;
}

.logo--wrapper {
  height: 60px;
  width: auto;
}

.logo {
  height: 100%;
  width: auto;
}

/* .nav__title {
  font-size: 24px;
  color: #F4F4F7;
  transform: translateX(-2px);
  cursor: default;
} */

/* .movies__icon--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.movies__icon {
  font-size: 24px;
  color: #c6b8b8;
} */

.nav__title,
.movies__icon,
.nav__links {
  animation: fade-in 2s forwards;
}

.nav__links {
  list-style-type: none;
  display: flex;
}

.nav__link {
  margin-left: 28px;
  position: relative;
}

.underline {
  position: absolute;
  background-color: #f4f1f1;
  height: 2px;
  width: 0;
  right: 0;
  bottom: -8px;
  transition: all 300ms ease;
}

.nav__link:hover {
  transform: scale(1.05);
}

.nav__link:hover .nav__link--anchor,
.nav__link:hover .fa-arrow-right-to-bracket {
  color: #f4f1f1;
}

.nav__link:hover .underline {
  width: 100%;
  left: 0;
}

.nav__link:active {
  transform: scale(0.95);
}

.nav__link--anchor {
  text-decoration: none;
  color: #c6b8b8;
  font-size: 18px;
  font-weight: 500;
}

.fa-arrow-right-to-bracket {
  color: #c6b8b8;
  margin-left: 8px;
}

.nav__link--1 {
  display: flex;
  align-items: center;
  cursor: not-allowed;
}

.nav__link--2 {
  display: none;
  align-items: center;
  cursor: pointer;
}